.ShoppingCart{

  margin-top: 20px;
  font-size: xx-large;
  margin-left: 0%;
  color: brown;
  cursor: pointer;
  margin-left: 1030PX;
  margin-left: 89%;
  margin-top: 26px;
}
.ShoppingCartCount{
  position: absolute;
  cursor: pointer;
  margin-top: 4px;
  margin-left: 0px;
  border-radius: 50%;
  height: 25px;
  width: 22px;
  background-color: #fff;
  color: #000;
  /* font-size: large; */
  font-weight: bold;
  text-align: center;  
  margin-left: 97%;
}

.imageSpan{
  margin-left: 100px;
  font-weight: bold;
  font-size: x-large;

}

.cartColumn1{
  width: 700px; 
}

.column1 p{
  color: #fff;
  padding-left: 30px;
  cursor: pointer;
  font-size: xx-large;
  /* width: 100%;
  border-bottom-style: 1px solid red; */
}
.cartColumn2{
  width: 800px;
  border-bottom: 4px dashed #333;
  padding: 10px;

}
.container{
  display: flex
}
.container div:nth-child(1){
  background-color:#413F42;
  width: 8.5%;
  height:80dvh;
}
.container div:nth-child(2){
  background-color:#fff;
  width: 90%;

  }

  .fooler{
    color: #fff;
    background-color: #092635;
    height: 20vh;
    width: 100%;
  }